html{
    background-color: #252525;
    font-size: 12pt;
}
h1, h2, h3, h4, h5, h6{font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;text-rendering: optimizelegibility;}
h1{
    font-size:2.7em;
    padding-bottom:15px;
}
h2{
    margin-top:25px;
}
body{
    box-sizing: border-box;
    color: #303030;
    display: block;
    padding-left:200px;
    padding-right:200px;
    padding-top:5px;
    background: #f5f5f5;
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

p {
    margin-bottom:1.5em;
}

code {
    box-sizing: border-box
    display: block;
    background: #555;
    font-size: .8em;
    line-height: 1.5em;
    color: #ddd;
    border-radius: 0.3em;
    padding: 0 .3em;
    margin: -1px 0;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
a {
    color: #1863d1;
}
a:visited{color: #5505a0;}
pre {
    background: #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    line-height: 1.45em;
    font-size: 13px;
    margin-bottom: 2.1em;
    padding: .8em 1em;
    color: #222;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

pre.example {
    background: #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    line-height: 1.45em;
    font-size: 13px;
    margin-bottom: 2.1em;
    padding: .8em 1em;
    color: #222;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}


#postamble {
    background-color: #f8f8f8;
    color: #576285;
    font-size: 12px;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;
}

.done {
display: inline-block;
background: #555;
font-size: .8em;
line-height: 1.5em;
color: rgba(135, 245, 115, 0.99);
font-weight: 900;
border-radius: 0.3em;
padding: 0 .3em;
margin: -1px 0;
}

::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.42);
background-color: #252525;
}

::-webkit-scrollbar {
width: 5px;
height: 8px;
background-color: #FDFDFD;
}

::-webkit-scrollbar-thumb {
background-color: rgba(3, 82, 102, 1);
}